p,h3{
    margin: 0;
}
.item-container {
  padding: 10px;
  border-bottom: solid 1px var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  align-items: center;
  gap: 10px;
}

.selected{
    background-color: var(--primary-color);
    color: white;
}

.item-img {
  border-radius: 9999px;
  height: 50px;
}

.detail{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name{
    color: var(--primary-color);
}

.class,.id,.year{
    color: gray;
}