<div class="detail">
  <section class="header">
    <img src="./../../../assets/images/default-profile.png" alt="profile">
    <div><h3>Trisha Berge</h3>
    <span> classVI | Students ID :F-6522</span>
    </div>
  </section>

  <div>
    <section class="detail-data rounded">
      <h4>
        Basic Details
      </h4>
      <div class=" top-details">
        <span>
          <p class="detail-title">Gender</p>
          <p class=" detail-info">Female</p>
        </span>
        <span>
          <p class="detail-title">Date of birth</p>
          <p class=" detail-info">29-04-2004</p>
        </span>
        <span>
          <p class="detail-title">Religion</p>
          <p class=" detail-info">Christian</p>
        </span>
        <span>
          <p class="detail-title">Blood Group</p>
          <p class=" detail-info">B+</p>
        </span>
      </div>
      <div class="bottom-details">
        <span>
          <p class="detail-title">Address</p>
          <p class=" detail-info bottom-first-info">1962 Harrison StreetSan</p>
          <p class=" detail-info ">Fransico, CA 94103</p>
        </span>
       
      </div>
    </section>

    <section>

    </section>
  </div>
</div>
