nav {
  height: 70px;
  background-color: white;
  padding: 0 var(--space);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  font-size: xx-large;
  font-weight: bolder;
}

div {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space)
}

.search-container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 90%;
  padding: 0 8px;
  border: solid 1px var(--bg-color);
}

input {
  width: 80%;
  outline: none;
  border: none;
}

img {
  height: 40px;
  border-radius: 9999px;
}
