nav {
  height: 70px;
  background-color: white;
  padding: 0 var(--space);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

img {
  height: 40px;
  border-radius: 9999px;
}

div {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space);
}

.title {
  font-size: xx-large;
  font-weight: bolder;
}

.search-container {
  width: 90%;
}

