.authenticated {
  display: grid;
  grid-template-columns: 20% 1fr;
  background-color: var(--bg-color);
  gap: var(--space);
  padding: var(--space);
}

.routes{
  height: var(--display-height);
  overflow: auto;
}