.authenticated {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: var(--space);
  padding: var(--space);
}

.canvas {
  background-color: var(--bg-color);
}

.routes {
  height: var(--display-height);
  overflow: auto;
}
