/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #f1f4fa;
  --primary-color: #445569;
  --error-color: red;

  --space: 16px;
  --display-height: calc(100vh - 40px);
  --dash-width: calc(1440px - 120px);
  --dash-height: calc(100vh - (70px + (4 * var(--space))));
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.25);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.5);
  width: 10px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.rounded {
  border-radius: 8px;
}

.pages {
  max-width: var(--dash-width);
  height: var(--dash-height);
  overflow: auto;
}
