.dashboard {
  min-width: var(--dash-width);
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.info {
  grid-column: span 2;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}


