.dashboard {
  max-width: var(--dash-width);
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space)
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space);
  padding-top: 12px;
}

.info {
  grid-column: span 2;
}

.calendar-container {
  display: flex;
  flex-direction: column;
}

.calendar-content {
  background-color: white;
  padding: var(--space);
}

.events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space);
  padding-bottom: var(--space);
}

.cal-info {
  background-color: var(--primary-color);
  margin-top: var(--space);
  padding: var(--space);
  display: flex;
  gap: var(--space);
  flex-direction: column;
  justify-content: space-between;
}

.cal-info p {
  color: white;
}

.cal-info-btn {
  padding: 8px;
  background-color: white;
  color: var(--primary-color);
  border: none;
  width: 60%;
}

.cal-info-btn:hover {
  cursor: pointer;
}

.graph {
  height: 60%;
  background-color: white;
  margin-bottom: var(--space);
}

.performance-atendance {
  height: calc(40% - var(--space));
  display: grid;
  gap: var(--space);
  grid-template-columns: repeat(5, 1fr);
}

.table {
  grid-column: span 3;
}

.pie-chart{
  grid-column: span 2;
  background-color: white;
}