<div>
  <div class="categories">
    <sms-tile />
    <sms-tile />
    <sms-tile />
    <sms-tile />
  </div>
  <div class="details">
    <div class="info">
      <div class="graph rounded"></div>
      <div class="performance-atendance">
        <sms-top-perfomer-table class="table"/>
      </div>
    </div>
    <div class="calendar-container">
      <div class="calendar-content rounded">
        <h3>Events Calendar</h3>
      <div class="events">
        <sms-event-tile />
        <sms-event-tile />
      </div>
      <div class="calendar"><sms-calendar /></div>
      </div>
      <div class="cal-info rounded">
        <p>Find more holidays</p>
        <button class="cal-info-btn rounded">Explore now</button>
      </div>
    </div>
  </div>
</div>
