.dashboard {
  min-width: var(--dash-width);
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 12px;
}

.info {
  grid-column: span 2;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

.events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 20px;
}

.cal-info {
  background-color: var(--primary-color);
  margin-top: 20px;
  padding: 12px 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: space-between;
}

.cal-info p {
  color: white;
}

.cal-info-btn {
  padding: 8px;
  background-color: white;
  color: var(--primary-color);
  border: none;
  width: 60%;
}

.cal-info-btn:hover {
  cursor: pointer;
}

.graph {
  height: 45%;
  background-color: white;
  margin-bottom: 20px;
}

.performance-atendance {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
