<div class="side-bar rounded">
  <div class="sidebar-top">
    <div class="logo-container">
      <img src="./../../../assets/images/logo.jfif" alt="logo" />
      <h1>SCHOOL</h1>
    </div>
    <div class="sidebar-options">
      <a routerLink="/" routerLinkActive="button-active"
        ><span>Dashboard</span></a
      >
      <a routerLink="/students" routerLinkActive="button-active"
        ><span>Students</span></a
      >
      <a routerLink="/teachers" routerLinkActive="button-active"
        ><span>Teachers</span></a
      >
      <a routerLink="/attendance" routerLinkActive="button-active"
        ><span>Attendance</span></a
      >
      <a routerLink="/courses" routerLinkActive="button-active"
        ><span>Courses</span></a
      >
      <a routerLink="/exam" routerLinkActive="button-active"
        ><span>Exam</span></a
      >
      <a routerLink="/payment" routerLinkActive="button-active"
        ><span>Payment</span></a
      >
    </div>
  </div>

  <div class="sidebar-buttom">
    <a routerLink="/settings"> <span>Settings</span></a>
    <a routerLink="/login"><span>Log out</span></a>
  </div>
</div>
