.side-bar {
  height:  var(--display-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 0 var(--space);
}

.sidebar-top {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space);
  border-bottom: solid 1px gray;
  padding: 20px 0px 40px 0px;
  color: white;
}

.logo-container img{
  height: 40px;
  border-radius: 10px;
}

.sidebar-options,.sidebar-buttom {
  display: flex;
  flex-direction: column;
  gap: var(--space);
  padding: var(--space);
}

a {
  height: 40px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-size: larger;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.button-active {
  color: var(--primary-color);
  background-color: #fff;
}


