<div class="container rounded">
  <div class="tabs trow">
    <span>Week</span><span>Month</span><span>Year</span>
  </div>

  <div class="thead trow">
    <span>Photos</span>
    <span class="name">Name</span>
    <span class="id-number">ID</span>
    <span>Standard</span>
    <span class="rank">Rank</span>
  </div>
  <div class="tbody">
    <div class="trow">
      <img src="./../../../assets/images/default-profile.png" alt="" />
      <span class="name name-data">Enos Schimel</span>
      <span class="id-number id-number-data">ID: 4278</span>
      <span class="standard-data">6th Class</span>
      <span class="rank">Rank</span>
    </div>
  </div>
</div>
